# Example .env file for selfhosting the bot
# Don't add your .env file to your github repository, these settings are used to access the bot

# To edit/set the settings, remove this line and the one below it
READONLY=true
# Your bot token to login your bot
token=""
# Your bots user ID
bot=""
# Your bots client secret for the dashboard
secret=""
# Optional: Your bots return uri for the dashboard
dashboard="https://settings.wikibot.de/oauth"
# Your user ID for owner only commands
owner=""
# Command prefix for the bot
prefix=" "
# Channel where to change the patreon settings
channel=""
# Invite link to the bot help Discord
invite=""
# Link to the patreon page for the bot
patreon=""
# Optional: API token for phabricator.wikimedia.org
phabricator_wikimedia=""
# Optional: API token for phabricator.miraheze.org
phabricator_miraheze=""
# Optional: Client ID for Wikimedia OAuth2 consumer
oauth_wikimedia=""
# Optional: Client secret for Wikimedia OAuth2 consumer
oauth_wikimedia_secret=""
# Optional: Client ID for Miraheze OAuth2 consumer
oauth_miraheze=""
# Optional: Client secret for Miraheze OAuth2 consumer
oauth_miraheze_secret=""
# Optional: Path to a log file for usage statistics
usagelog=""
# Optional: Set to anything to reveal guild IDs to the wiki in the X-Origin-Guild header for API requests.
x_origin_guild=""

# Variables for your PostgreSQL server
PGHOST="localhost"
PGUSER="postgres"
PGDATABASE="postgres"
PGPASSWORD="postgres"
PGPORT="5432"