html {
	height: calc(100% - 48px);
}
body {
	font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
	text-rendering: optimizeLegibility;
	background: #36393f;
	color: #dcddde;
	position: relative;
	min-height: 100%;
	margin: 0;
}
.theme-light body {
	background-color: #ffffff;
	color: #2e3338;
}
a {
	text-decoration: none;
	color: inherit;
}
a[alt]:hover:after {
	content: attr(alt);
	position: fixed;
	background: #18191c;
	color: #dcddde;
	font-weight: bold;
	font-size: 90%;
	overflow-wrap: break-word;
	border-radius: 4px;
	padding: 8px;
	box-shadow: 0 8px 16px rgba(0,0,0,0.24);
}
.theme-light a[alt]:hover:after {
	background-color: #ffffff;
	color: #2e3338;
	box-shadow: 0 8px 16px rgba(0,0,0,0.16);
}
#navbar {
	background: #2f3136;
	position: fixed;
	top: 0;
	left: 72px;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 48px;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	box-shadow: 0 1px 0 rgba(4,4,5,0.2),
				0 1.5px 0 rgba(6,6,7,0.05),
				0 2px 0 rgba(4,4,5,0.05);
}
.theme-light #navbar {
	background-color: #f2f3f5;
	box-shadow: 0 1px 0 rgba(6,6,7,0.1),
				0 1.5px 0 rgba(6,6,7,0.025),
				0 2px 0 rgba(6,6,7,0.025);
}
:target::before {
	content: "";
	display: block;
	height: 48px;
	margin-top: -48px;
}
#navbar > #selector > img {
	width: 32px;
	padding-right: 5px;
}
#navbar > div,
#navbar a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding-left: 10px;
}
#navbar a:hover {
	background: #202225;
}
.theme-light #navbar a:hover {
	background-color: #e3e5e8;
}
#navbar a[alt]:hover:after {
	top: 48px;
}
#navbar > #user-invite:after {
	right: 0;
}
#navbar .avatar {
	width: 32px;
	height: 32px;
}
#navbar #user-invite,
#navbar span {
	padding: 0 10px;
}
.scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
}
.scrollbar:hover {
	scrollbar-color: #202225 transparent;
}
.theme-light .scrollbar:hover {
	scrollbar-color: rgba(79,84,92,0.3) transparent;
}
.scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.scrollbar::-webkit-scrollbar-corner {
	background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb, .scrollbar::-webkit-scrollbar-track {
	visibility: hidden;
}
.scrollbar:hover::-webkit-scrollbar-thumb, .scrollbar:hover::-webkit-scrollbar-track {
	visibility: visible;
}
.scrollbar::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	border: 2px solid transparent;
	border-radius: 4px;
	background-color: #202225;
	min-height: 40px;
}
.theme-light .scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(79,84,92,0.3);
}
.scrollbar::-webkit-scrollbar-track {
	border-color: transparent;
	background-color: transparent;
	border: 2px solid transparent;
}
#sidebar {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	bottom: 0;
	width: 312px;
	overflow: visible scroll;
}
#guildlist {
	background: #202225;
	position: absolute;
	padding: 12px 0;
	flex: 1 1 auto;
	min-height: calc(100% - 24px);
	width: 72px;
}
.theme-light #guildlist {
	background-color: #e3e5e8;
}
#fixed-guild {
	background: inherit;
	position: sticky;
	padding: 8px 0 12px;
	margin: -8px 0 -12px;
	bottom: 0;
}
.guild {
	margin: 0 0 8px;
	position: relative;
	display: flex;
	justify-content: center;
	contain: layout;
}
.form-button:not(.user-select),
.guild .theme-toggle,
#lang-dropdown div {
	cursor: pointer;
}
.avatar {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.2em;
	white-space: nowrap;
	overflow: hidden;
	color: #dcddde;
	font-weight: bold;
}
.theme-light .avatar {
	color: #2e3338;
}
#navbar a:hover .avatar,
.guild.selected .avatar,
.guild:hover .avatar {
	border-radius: 30%;
	color: #ffffff;
}
.noicon {
	width: 48px;
	height: 48px;
	background: #36393f;
}
.theme-light .noicon {
	background-color: #ffffff;
}
.guild.selected .noicon,
.guild:hover .noicon {
	color: #ffffff;
	background-color: #7289da;
}
.svg-avatar {
	color: #3ba55c;
	background: #36393f;
}
.theme-light .svg-avatar {
	color: #3ba55c;
	background-color: #ffffff;
}
#navbar a:hover .svg-avatar,
.guild:hover .svg-avatar {
	color: #ffffff;
	background-color: #3ba55c;
}
.separator {
	height: 2px;
	width: 32px;
	border-radius: 1px;
	background-color: rgba(255,255,255,0.6);
}
.theme-light .separator {
	background-color: rgba(6,6,7,0.8);
}
.bar {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 8px;
	border-radius: 0 4px 4px 0;
	margin-left: -4px;
	background-color: #ffffff;
}
.theme-light .bar {
	background-color: #060607;
}
.guild:hover .bar {
	margin-top: 14px;
	height: 20px;
}
.guild.selected .bar {
	margin-top: 4px;
	height: 40px;
}
.guild a[alt]:hover:after {
	top: 20%;
	left: 72px;
	max-width: 202px;
	width: max-content;
}
#channellist {
	background: #2f3136;
	position: fixed;
	overflow: hidden scroll;
	padding: 16px 0;
	width: 240px;
	top: 48px;
	left: 72px;
	bottom: 0;
}
.theme-light #channellist {
	background-color: #f2f3f5;
}
.channel {
	padding: 3px 8px;
	margin: 0 0 2px 12px;
	min-height: 26px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	color: #8e9297;
}
.theme-light .channel {
	color: #6a7480;
}
.channel img {
	margin-right: 6px;
	width: 20px;
	height: 20px;
}
.channel div {
	font-size: 16px;
	line-height: 20px;
	text-shadow: 0 0 1px;
	overflow-wrap: break-word;
	overflow: hidden;
}
.channel div.category {
	margin-left: 6px;
}
.channel:hover {
	background: rgba(79,84,92,0.16);
}
.theme-light .channel:hover {
	background-color: rgba(116,127,141,0.08);
}
.channel.selected {
	background: rgba(79,84,92,0.32);
}
.theme-light .channel.selected {
	background-color: rgba(116,127,141,0.24);
}
.channel:hover div {
	color: #dcddde;
}
.theme-light .channel:hover div {
	color: #2e3338;
}
.channel.selected div {
	color: #ffffff;
}
.theme-light .channel.selected div {
	color: #060607;
}
.channel-header {
	padding: 5px 8px;
	margin-left: 8px;
	min-height: 34px;
}
.channel-header img {
	width: 24px;
	height: 24px;
}
.channel-header div {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	text-shadow: none;
}
.beta-flag {
	background-color: hsl(235, 85.6%, 64.7%);
	padding: 2px 6px;
	border-radius: 8px;
	font-weight: bold;
	color: white;
	text-align: center;
}
.channel-header .beta-flag {
	margin-right: 10px;
}
.channel.channel-header:hover .beta-flag {
	color: white;
}
.channel-header .beta-name {
	font-size: small;
}
#lang-selector {
	background: #2f3136;
	position: fixed;
	border-top: 2px solid #202225;
	height: 30px;
	width: 224px;
	left: 72px;
	bottom: 0;
	padding: 0 8px;
	display: flex;
	align-items: center;
	color: #8e9297;
}
.theme-light #lang-selector {
	background-color: #f2f3f5;
	border-top-color: #e3e5e8;
	color: #6a7480;
}
#lang-selector img {
	padding-right: 2px;
}
#lang-selector:hover #lang-dropdown {
	visibility: visible;
}
#lang-dropdown {
	visibility: hidden;
	background: #202225;
	position: absolute;
	width: 240px;
	left: 0;
	bottom: 32px;
	overflow: overlay;
}
.theme-light #lang-dropdown {
	background-color: #e3e5e8;
}
#lang-dropdown div {
	margin: 2px;
	padding: 4px;
	font-size: 90%;
	border-radius: 2px;
}
#lang-dropdown div.current,
#lang-dropdown div:hover {
	background: #2f3136;
}
.theme-light #lang-dropdown div.current,
.theme-light #lang-dropdown div:hover {
	background-color: #f2f3f5;
}
.form-button:not(.user-select):hover,
.description a,
a .description,
.notice a {
	color: #00b0f4;
}
.theme-light .form-button:not(.user-select):hover,
.theme-light .description a,
.theme-light a .description,
.theme-light .notice a {
	color: #0067e0;
}
.description a:hover,
a:hover .description,
.notice a:hover {
	text-decoration: underline;
}
textarea,
code,
pre {
	font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
}
kbd,
code {
	background: #2f3136;
	padding: 1px 3px;
	margin: -2px 0;
	border: 1px solid #202225;
	border-radius: 3px;
	white-space: pre-wrap;
	font-size: 85%;
}
.theme-light kbd,
.theme-light code {
	background-color: #f2f3f5;
	border-color: #e3e5e8;
}
kbd {
	font-size: 120%;
}
.wb-settings-subprefix-label {
	text-align: center;
}
li {
	margin: 3px 0;
}
#text {
	position: relative;
	padding: 8px;
	width: calc(100% - 328px);
	top: 48px;
	left: 312px;
}
.user-select {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}
.widgets {
	margin-top: 250px;
}
.widgets img {
	height: 150px;
	max-width: 100%;
}
.notice {
	padding: 5px 10px;
	line-height: 1.6;
	text-align: center;
	margin: 0 auto 1em;
	width: -moz-fit-content;
	width: fit-content;
	border: 2px solid;
}
.notice-success {
	background-color: #020;
	border-color: #050;
}
.theme-light .notice-success {
	background-color: #cfc;
	border-color: #afa;
}
.notice-info {
	background-color: #220;
	border-color: #550;
}
.theme-light .notice-info {
	background-color: #ffc;
	border-color: #ffa;
}
.notice-error {
	background-color: #200;
	border-color: #500;
}
.theme-light .notice-error {
	background-color: #fcc;
	border-color: #faa;
}
.notice strong,
.notice small {
	display: block;
}
.notice small {
	color: #777;
}
.big-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.big-button {
	display: flex;
	margin: 20px;
	padding: 20px 50px;
	width: -moz-fit-content;
	width: fit-content;
	justify-content: center;
	align-items: center;
	font-size: 300%;
	background: #2f3136;
	border: 5px solid #202225;
	border-radius: 30px;
}
.theme-light .big-button {
	background-color: #f2f3f5;
	border-color: #e3e5e8;
}
.big-button:hover {
	background-color: #36393f;
}
.theme-light .big-button:hover {
	background-color: #fff;
}
.big-button img {
	width: 60px;
	height: 60px;
	margin-right: 25px;
}
#login-button {
	margin: 20px max(20px, 10%);
}
.server-selector {
	display: flex;
	flex-wrap: wrap;
}
.server {
	background-color: #202225;
	text-align: center;
	border-radius: 10%;
	width: 200px;
	margin: 5px;
}
.theme-light .server {
	background-color: #e3e5e8;
}
.server:hover {
	background-color: #2f3136;
}
.theme-light .server:hover {
	background-color: #f2f3f5;
}
.server:hover .avatar {
	filter: brightness(1.2);
}
.server .avatar {
	border-radius: 10%;
	width: 200px;
	height: 200px;
}
.server .noicon {
	font-size: 416%;
	background-color: unset;
}
.server .server-name {
	padding: 8px 12px;
	overflow-wrap: break-word;
	font-weight: bold;
	font-size: 90%;
}
fieldset {
	border-color: #dcddde;
}
.theme-light fieldset {
	border-color: #2e3338;
}
legend {
	background: #dcddde;
	color: #36393f;
	padding: 3px 6px;
	font-weight: bold;
}
.theme-light legend {
	background-color: #2e3338;
	color: #ffffff;
}
fieldset > div {
	margin: 10px 0;
}
fieldset label:not(.button-label),
fieldset span {
	display: inline-block;
	min-width: 20%;
}
fieldset label.button-label {
	padding-right: 5px;
}
fieldset label div {
	padding-top: 30px;
	padding-right: 10px;
	text-align: right;
}
fieldset input[type="url"] {
	min-width: 30%;
	margin-right: 5px;
}
fieldset input:invalid {
	background: #FFAAAA;
}
fieldset textarea {
	-moz-tab-size : 4;
	-o-tab-size : 4;
	tab-size : 4;
	color: #dcddde;
	background: #40444b;
}
.theme-light fieldset textarea {
	color: #2e3338;
	background-color: #ebedef;
}
#wb-settings-avatar-preview-img {
	width: 128px;
	height: 128px;
	image-rendering: pixelated;
	background: #32353b;
}
.theme-light #wb-settings-avatar-preview-img {
	background-color: #fafafa;
}
.wb-settings-display:first-of-type,
.wb-settings-buttons:first-of-type,
.wb-settings-permission:first-of-type {
	display: inline-block;
}
#wb-settings-avatar-preview-img,
.wb-settings-display:not(:first-of-type),
.wb-settings-buttons:not(:first-of-type),
.wb-settings-permission:not(:first-of-type),
.wb-settings-additional-select,
.wb-settings-postcount:not(:nth-of-type(2)),
.wb-settings-wiki-check-notice,
button.addmore:not([hidden]) {
	display: block;
	margin-left: 20%;
}
.wb-settings-wiki-check-notice .wiki-logo {
	max-width: 100%;
}
.wb-settings-optgroup {
	font-weight: bold;
}
.wb-oauth-site {
	margin-bottom: 30px;
}
.wb-oauth-site legend {
	background-color: unset;
	color: unset;
}
.wb-oauth-connected {
	font-weight: bold;
	color: green;
}
.wb-oauth-unconnected {
	font-weight: bold;
	color: red;
}
.wb-oauth-disabled {
	font-weight: bold;
	color: darkred;
}
.wb-oauth-enabled {
	font-weight: bold;
	color: darkgreen;
}
.wb-settings-error {
	color: red;
}
.wb-settings-error:disabled {
	color: darkred;
}
#wb-settings-delete {
	float: right;
	color: red;
	font-weight: bold;
}
#wb-settings-lang-widget {
	vertical-align: top;
	margin-left: 5px;
}