name: "Label pull requests"
on:
- pull_request_target

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v5
      with:
        repo-token: "${{ secrets.WIKIBOT_TOKEN }}"
        sync-labels: true
